.subscription-card-container {
     width: 90%;
     background-color: var(--main-light);
     display: flex;
     flex-direction: column;
     margin-bottom: 2vh;
     border-radius: 21px;
     padding: 20px;
}

.header-container {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.subscription-name {
     color: var(--main-dark);
     font-weight: bolder;
     font-size: 20px;
}

.subscription-amount {
     color: var(--main-action);
     font-weight: bolder;
     font-size: 20px;
}

.division-line {
     width: 100%;
     height: 1px;
     background-color: black;
     margin: 5px 0px 10px 0px;
}

.subscription-card-element {
     margin-top: 10px;
}

.delete-button {
     font-family: poppins;
     background-color: var(--error-transparent);
     border-style: none;
     border-radius: 8px;
     padding: 8px 12px 8px 12px;
     color: var(--error-text);
     font-weight: bold;
     transition: all 0.15s;
}

.delete-button:hover {
     cursor: pointer;
     outline: 1px solid var(--main-dark);
     outline-offset: -3px;
}
