.outlet-container {
     grid-area: main;
     background-color: var(--card);
     display: flex;
}

@media only screen and (max-width: 576px) {
     .outlet-container {
          flex-direction: column;
          overflow-y: scroll;
          height: auto;
     }
}
