.data-table {
     border: 1px solid var(--main-dark);
     border-collapse: collapse;
     margin-top: 20px;
     width: 100%;
     background-color: var(--main-light);
}

.data-table th,
td {
     border: 1px solid var(--main-dark);
     color: var(--main-dark);
}

.data-table th {
     height: 70px;
     font-family: poppins;
     font-size: 12px;
     border-bottom: 2px solid var(--main-dark);
}

.data-table td {
     height: 40px;
     text-align: center;
}

.sort-select-container {
     display: flex;
     margin-right: 20px;
     justify-content: center;
     align-items: center;
}

.insight-select-container {
     display: flex;
     margin-top: 20px;
}

.sort-select {
     margin-left: 10px;
     border-style: none;
     border-radius: 3px;
     outline-style: none;
     padding: 5px;
     color: var(--main-dark);
     font-family: poppins;
}
