.widget-container{
    width: 40%;
    height: 100%;
    background-color: aqua;
}

.subscriptions-container{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
    overflow-y: scroll;
    scrollbar-width: 10px;
}

.widget-link{
    text-decoration: none;
    font-weight: bold;
    color: var(--main-action);
}



.subscriptions-container::-webkit-scrollbar{
    display: none;
}