.notification-container{
    font-family: poppins;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    bottom: -100px;
    display: none;
    transition: transform 1s ease-in-out;
}

.notification-container-activated{
    display: block;
    transform: translateY(-200px);
}