.insights-charts-container {
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     margin-top: 12px;
     justify-content: center;
     align-items: center;
}

.insights-chart-big {
     flex-grow: 1;
     display: flex;
     justify-content: center;
     align-items: center;
}

.insights-chart {
     width: 40%;
     height: 300px;
     background-color: var(--main-light);
     border-radius: 10px;
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.insight-toolbar-info-container {
     margin-top: 10px;
     display: flex;
}

.insights-chart-category {
     padding: 10px;
}

.insights-chart-outer {
     margin-left: 10px;
}

.insight-toolbar {
     display: flex;
     flex-direction: column;
     width: 200px;
     background-color: var(--main-light);
     border-radius: 10px;
     padding: 10px;
}

.insight-toolbar select {
     border-style: none;
     height: 30px;
     font-family: poppins;
     margin-bottom: 5px;
}

.insights-info-bar {
     flex-grow: 1;
     height: auto;
     background-color: var(--main-light);
     margin-left: 10px;
     border-radius: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
