.dashboard-link {
     color: var(--main-dark);
     font-family: poppins;
     font-size: 18px;
     font-weight: bold;
     text-decoration: none;
     transition: all 0.1s ease-in-out;
}
/* 
.dashboard-link:hover {
     animation-name: 'underscore';
     text-decoration: underline 3px var(--main-action);
} */

.dashboard-link:hover .settings-icon {
     color: var(--main-action);
}

.dashboard-link:hover .link-underscore {
     width: 100%;
}

.dashboard-button-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 3vh;
}

.settings-icon {
     width: 25px;
     height: 25px;
     color: var(--main-dark);
     margin-right: 13px;
     transition: all 0.1s ease-in-out;
}

.link-container {
}

.link-label {
}

.link-underscore {
     width: 0%;
     height: 3px;
     background-color: var(--main-action);
     transition: all 0.2s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
     .dashboard-link {
          font-size: 10px;
     }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
}
/* Large devices (laptops/desktops, 992px and up) */
