.main-grid-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10,10vh);
    grid-template-areas: 
        "header header header header header header header header header header"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
        "sidebar sidebar main main main main main main main main"
    ;
    /* align-items: stretch; */
}


/*  .main-container{
    width: 100vw;
    background-color: bisque;
    display: flex;
} */





.graph{
   width: 100%;
   height: 30vh;
}

.dashboard-button{
    width: 100%;
    height: 8vh;
}

.actions-container{
    
    
}

.dashboard-container{
    grid-area: sidebar;
    background-color: black;
    width: 100%;
}

.outlet-container{
    grid-area: main;
    background-color: brown;
} 