.slider-container {
     background-color: #edf0f0;
     width: 60px;
     height: 20px;
     border-radius: 20px;
     position: relative;
     transition: all 0.3s ease-in-out;
     border: 1px solid var(--card);
}

.slider-container-on {
     background-color: #b4d4d3;
}

.slider-container:hover {
     cursor: pointer;
}

.slider-control {
     height: 20px;
     width: 20px;
     border-radius: 50%;
     position: absolute;
     background-color: #d4d6d6;
     transition: all 0.3s ease-in-out;
}

.slider-control-on {
     transform: translateX(40px);
     background-color: var(--main-action);
}

@media only screen and (max-width: 576px) {
     .slider-container {
          width: 30px;
          height: 10px;
     }
     .slider-control {
          height: 10px;
          width: 10px;
          transform: translateX(0);
     }
     .slider-control-on {
          transform: translateX(20px);
     }
}
